<div id="<%= dom_id todo %>">
  <p>
    <strong>Tarea:</strong>
    <%= todo.task %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Terminado?:</strong>
    <%= todo.done %>
  </p>

  <p>
    <strong>User:</strong>
    <%= todo.user.name %>
  </p>

</div>
